In [437]:
import pandas as pd
import numpy as np
import ast

from datetime import datetime

# ETL to movies dataset

In [438]:
url='https://drive.google.com/file/d/1yqB8ahhhdiONfZLu8-xuU9qsWOgSf5Oo/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df_movies = pd.read_csv(url)

/tmp/ipykernel_70350/3456366765.py:3: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv(url)

In [439]:
df_movies.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [440]:
df_movies.shape

(45466, 24)

## Drop unuseful columns

In [441]:
df_movies.drop(columns=['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage', 'tagline'], axis=1, inplace=True)

In [442]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 45466 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   45463 non-null  object
 8   production_countries   45463 non-null  object
 9   release_date           45379 non-null  object
 10  revenue                45460 non-null  float64
 11  runtime                45203 non-null  float64
 12  spoken_languages       45460 non-null  object
 13  status                 45379 non-null  object
 14  title                  45460 non-null  object
 15  vote_average           45460 non-null  float64
 16  vote_count             45460 non-null  float64
dtypes: float64(4), object(13)
memory usage: 5.9+ MB

## Fill NaN value with 0

In [443]:
df_movies['revenue'] = df_movies['revenue'].fillna(0)

In [444]:
df_movies['budget'] = pd.to_numeric(df_movies['budget'], errors='coerce').fillna(0)

In [445]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   budget                 45466 non-null  float64
 2   genres                 45466 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   45463 non-null  object
 8   production_countries   45463 non-null  object
 9   release_date           45379 non-null  object
 10  revenue                45466 non-null  float64
 11  runtime                45203 non-null  float64
 12  spoken_languages       45460 non-null  object
 13  status                 45379 non-null  object
 14  title                  45460 non-null  object
 15  vote_average           45460 non-null  float64
 16  vote_count             45460 non-null  float64
dtypes: float64(5), object(12)
memory usage: 5.9+ MB

## Create `return` column

In [446]:
df_movies['return'] = df_movies.apply(lambda x: x['revenue']/x['budget'] if x['budget'] != 0 else 0, axis=1)

In [447]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4494 non-null   object
 1   budget                 45466 non-null  float64
 2   genres                 45466 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   production_companies   45463 non-null  object
 8   production_countries   45463 non-null  object
 9   release_date           45379 non-null  object
 10  revenue                45466 non-null  float64
 11  runtime                45203 non-null  float64
 12  spoken_languages       45460 non-null  object
 13  status                 45379 non-null  object
 14  title                  45460 non-null  object
 15  vote_average           45460 non-null  float64
 16  vote_count             45460 non-null  float64
 17  return                 45466 non-null  float64
dtypes: float64(6), object(12)
memory usage: 6.2+ MB

## Create funtion to convert string to dictionary

In [448]:
def str_to_dict(value):
    """Convert string to dictionary

    Args:
        value (str): String valu to be converted to dictionary

    Returns:
        None : Return None if NaN value is present
    """
    if pd.isna(value):
        return None
    else:
        return ast.literal_eval(value)

## Unnest columns with dictionaries

In [449]:
df_movies['belongs_to_collection'] = df_movies['belongs_to_collection'].apply(str_to_dict)

In [450]:
df_nested = pd.json_normalize(df_movies['belongs_to_collection']).fillna('')
df_nested.head()

,id,name,poster_path,backdrop_path
0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,,,,
2,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3,,,,
4,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg

In [451]:
columns = df_nested.columns
new_columns_names = {column : f'belongs_to_collection_{column}' for column in columns}
df_nested.rename(columns=new_columns_names, inplace=True)
df_nested.head()

,belongs_to_collection_id,belongs_to_collection_name,belongs_to_collection_poster_path,belongs_to_collection_backdrop_path
0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,,,,
2,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3,,,,
4,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg

In [452]:
df_nested.shape

(45466, 4)

In [453]:
df_nested.drop(columns=['belongs_to_collection_id', 'belongs_to_collection_poster_path', 'belongs_to_collection_backdrop_path'], inplace=True)

In [454]:
df_movies = pd.concat([df_movies, df_nested], axis=1)
df_movies.drop(columns='belongs_to_collection', inplace=True)
df_movies.head(3)

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count,return,belongs_to_collection_name
0,30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Toy Story,7.7,5415.0,12.451801,Toy Story Collection
1,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,6.9,2413.0,4.043035,
2,0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Grumpier Old Men,6.5,92.0,0.000000,Grumpy Old Men Collection

In [455]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   budget                      45466 non-null  float64
 1   genres                      45466 non-null  object
 2   id                          45466 non-null  object
 3   original_language           45455 non-null  object
 4   overview                    44512 non-null  object
 5   popularity                  45461 non-null  object
 6   production_companies        45463 non-null  object
 7   production_countries        45463 non-null  object
 8   release_date                45379 non-null  object
 9   revenue                     45466 non-null  float64
 10  runtime                     45203 non-null  float64
 11  spoken_languages            45460 non-null  object
 12  status                      45379 non-null  object
 13  title                       45460 non-null  object
 14  vote_average                45460 non-null  float64
 15  vote_count                  45460 non-null  float64
 16  return                      45466 non-null  float64
 17  belongs_to_collection_name  45466 non-null  object
dtypes: float64(6), object(12)
memory usage: 6.2+ MB

## Unnest columns with list of dictionaries

In [456]:
columns = ['genres', 'production_companies', 'production_countries', 'spoken_languages']

for column in columns:
    df_movies[column] = df_movies[column].apply(str_to_dict)
    df_nested = pd.json_normalize(df_movies[column]).fillna('')
    nested_columns = df_nested.columns
    df_nested_1 = pd.DataFrame()
    for nested_column in nested_columns:
        df_aux = pd.json_normalize(df_nested[nested_column]).fillna('')
        if 'production_countries' in column:
            df_aux.rename(columns={'iso_3166_1': 'id'}, inplace=True)
        if 'spoken_languages' in column:
            df_aux.rename(columns={'iso_639_1': 'id'}, inplace=True)
        df_aux.drop(columns='id', axis=1, inplace=True)
        new_columns_names = {col : f'{column}_{nested_column}_{col}' for col in df_aux.columns}
        df_aux.rename(columns=new_columns_names, inplace=True)
        df_nested_1 = pd.concat([df_nested_1, df_aux], axis=1)

    # convert columns to a list of columns
    column_name = f'{column}_name'
    column_name_list = df_nested_1.columns.to_list()
    df_nested_1[column_name] = df_nested_1.values.tolist()
    df_nested_1.drop(columns=column_name_list, axis=1, inplace=True)
    df_movies = pd.concat([df_movies, df_nested_1], axis=1)
    df_movies.drop(columns=column, inplace=True)

In [457]:
df_movies.shape

(45466, 18)

In [458]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   budget                      45466 non-null  float64
 1   id                          45466 non-null  object
 2   original_language           45455 non-null  object
 3   overview                    44512 non-null  object
 4   popularity                  45461 non-null  object
 5   release_date                45379 non-null  object
 6   revenue                     45466 non-null  float64
 7   runtime                     45203 non-null  float64
 8   status                      45379 non-null  object
 9   title                       45460 non-null  object
 10  vote_average                45460 non-null  float64
 11  vote_count                  45460 non-null  float64
 12  return                      45466 non-null  float64
 13  belongs_to_collection_name  45466 non-null  object
 14  genres_name                 45466 non-null  object
 15  production_companies_name   45466 non-null  object
 16  production_countries_name   45466 non-null  object
 17  spoken_languages_name       45466 non-null  object
dtypes: float64(6), object(12)
memory usage: 6.2+ MB

## Delete null values of `release_date` and `id` column

In [459]:
df_movies.dropna(subset=['release_date'], inplace=True)
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45379 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   budget                      45379 non-null  float64
 1   id                          45379 non-null  object
 2   original_language           45368 non-null  object
 3   overview                    44438 non-null  object
 4   popularity                  45377 non-null  object
 5   release_date                45379 non-null  object
 6   revenue                     45379 non-null  float64
 7   runtime                     45130 non-null  float64
 8   status                      45296 non-null  object
 9   title                       45376 non-null  object
 10  vote_average                45376 non-null  float64
 11  vote_count                  45376 non-null  float64
 12  return                      45379 non-null  float64
 13  belongs_to_collection_name  45379 non-null  object
 14  genres_name                 45379 non-null  object
 15  production_companies_name   45379 non-null  object
 16  production_countries_name   45379 non-null  object
 17  spoken_languages_name       45379 non-null  object
dtypes: float64(6), object(12)
memory usage: 6.6+ MB

## Change `release_date` to `AAAA-mm-dd` format and keep year field in a new column

In [460]:
regex_filter = '^\d{4}\-(0?[1-9]|1[012])\-(0?[1-9]|[12][0-9]|3[01])$'
filter = df_movies['release_date'].str.contains(regex_filter)
df_movies = df_movies[filter]
df_movies['release_year'] = df_movies['release_date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d').date().year)

/tmp/ipykernel_70350/235543016.py:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  filter = df_movies['release_date'].str.contains(regex_filter)

### Convert `release_date` to date format

In [461]:
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'], format='%Y-%m-%d')

## Reset index

In [462]:
df_movies.reset_index(drop=True, inplace=True)

In [463]:
df_movies.head()

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,return,belongs_to_collection_name,genres_name,production_companies_name,production_countries_name,spoken_languages_name,release_year
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,12.451801,Toy Story Collection,"[Animation, Comedy, Family, , , , , ]","[Pixar Animation Studios, , , , , , , , , , , ...","[United States of America, , , , , , , , , , ,...","[English, , , , , , , , , , , , , , , , , , ]",1995
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,4.043035,,"[Adventure, Fantasy, Family, , , , , ]","[TriStar Pictures, Teitler Film, Interscope Co...","[United States of America, , , , , , , , , , ,...","[English, FranÃ§ais, , , , , , , , , , , , , , ...",1995
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,0.000000,Grumpy Old Men Collection,"[Romance, Comedy, , , , , , ]","[Warner Bros., Lancaster Gate, , , , , , , , ,...","[United States of America, , , , , , , , , , ,...","[English, , , , , , , , , , , , , , , , , , ]",1995
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,5.090760,,"[Comedy, Drama, Romance, , , , , ]","[Twentieth Century Fox Film Corporation, , , ,...","[United States of America, , , , , , , , , , ,...","[English, , , , , , , , , , , , , , , , , , ]",1995
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,0.000000,Father of the Bride Collection,"[Comedy, , , , , , , ]","[Sandollar Productions, Touchstone Pictures, ,...","[United States of America, , , , , , , , , , ,...","[English, , , , , , , , , , , , , , , , , , ]",1995

## Convert `id` to int

In [464]:
df_movies['id'] = df_movies['id'].astype(int)

## Drop duplicated `id` values

In [465]:
df_movies['id'].value_counts()

141971    3
97995     2
10991     2
109962    2
119916    2
         ..
40594     1
23104     1
37605     1
91727     1
461257    1
Name: id, Length: 45346, dtype: int64

In [466]:
df_movies.drop_duplicates(subset='id', keep='first', inplace=True, ignore_index=True)

### Check duplicated `id`

In [467]:
df_movies['id'].value_counts().index[df_movies['id'].value_counts().values > 1]

Int64Index([], dtype='int64')

In [468]:
df_movies.describe()

,budget,id,revenue,runtime,vote_average,vote_count,return,release_year
count,4.534600e+04,45346.000000,4.534600e+04,45100.000000,45346.000000,45346.000000,4.534600e+04,45346.000000
mean,4.232580e+06,108042.219645,1.123366e+07,94.177805,5.624196,110.135293,6.604792e+02,1991.882834
std,1.744373e+07,112187.326746,6.440990e+07,38.348775,1.915339,491.899276,7.471800e+04,24.053040
min,0.000000e+00,2.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,1874.000000
25%,0.000000e+00,26390.250000,0.000000e+00,85.000000,5.000000,3.000000,0.000000e+00,1978.000000
50%,0.000000e+00,59852.500000,0.000000e+00,95.000000,6.000000,10.000000,0.000000e+00,2001.000000
75%,0.000000e+00,156601.500000,0.000000e+00,107.000000,6.800000,34.000000,0.000000e+00,2010.000000
max,3.800000e+08,469172.000000,2.787965e+09,1256.000000,10.000000,14075.000000,1.239638e+07,2020.000000

# ETL to credits dataset

In [469]:
url='https://drive.google.com/file/d/1iyhs4e65lu0tg1gVih_ATUP6wGz1KG2k/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df_credits = pd.read_csv('RawData/credits.csv')

In [470]:
df_credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [471]:
df_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

## Function to get elements of list of list of dictionaries

In [472]:
def get_list(dataframe='', column='', key_name=''):
    """Get the list of key elements from a dictionary.

    Args:
        dataframe (str, optional): Dataframe to extract information. Defaults to ''.
        column (str, optional): Column of the dataframe to get information. Defaults to ''.
        key_name (str, optional): Dictionary key to get value. Defaults to ''.

    Returns:
        List: List of list of elements of the dictionary
    """
    dataframe[column] = dataframe[column].apply(str_to_dict)
    column_list = dataframe[column].to_list()

    return_list = [[data[key_name] for data in inter_list if key_name in data] for inter_list in column_list]

    return return_list

## Create a new dataframe with the actors and director

In [473]:
columns = ['cast', 'crew']
key_list = ['name', 'name']
df_actors = pd.DataFrame()
for _, (column, key) in enumerate(zip(columns, key_list)):
    elements_list = []
    elements_list = get_list(dataframe=df_credits, column=column, key_name=key)
    if 'crew' in column:
        new_list = [element[0] if len(element) > 0 else 'No Director' for element in elements_list]
        elements_list = new_list.copy()
    df_aux = pd.DataFrame({column: elements_list})
    df_actors = pd.concat([df_actors, df_aux], axis=1)
df_actors = pd.concat([df_actors, df_credits['id']], axis=1)
df_actors.head()

                                                cast             crew     id
0  [Tom Hanks, Tim Allen, Don Rickles, Jim Varney...    John Lasseter    862
1  [Robin Williams, Jonathan Hyde, Kirsten Dunst,...  Larry J. Franco   8844
2  [Walter Matthau, Jack Lemmon, Ann-Margret, Sop...    Howard Deutch  15602
3  [Whitney Houston, Angela Bassett, Loretta Devi...  Forest Whitaker  31357
4  [Steve Martin, Diane Keaton, Martin Short, Kim...   Alan Silvestri  11862

In [474]:
df_actors['id'].value_counts()

141971    3
298721    2
9755      2
10991     2
99080     2
         ..
55135     1
15877     1
72272     1
1549      1
461257    1
Name: id, Length: 45432, dtype: int64

## Drop duplicated `id` values

In [475]:
df_actors.drop_duplicates(subset='id', keep='first', inplace=True, ignore_index=True)

### Check duplicated `id`

In [476]:
df_actors['id'].value_counts().index[df_actors['id'].value_counts().values > 1]

Int64Index([], dtype='int64')

## Rename column

In [477]:
df_actors.rename(columns={'crew': 'director'}, inplace=True)

## Reset index

In [478]:
df_actors.reset_index(drop=True, inplace=True)

## Merge dataframes

In [479]:
df_movies_new = df_movies.copy()
df_actors_new = df_actors.copy()

In [480]:
df_movies_new = pd.merge(df_movies_new, df_actors_new, how='left', on='id')

## Check if a film contains NaN values

In [481]:
df_aux = df_movies_new['cast']
df_aux[df_aux.isna()]

42783    NaN
Name: cast, dtype: object

## Delete value with NaN

In [482]:
df_movies_new.iloc[42783]

budget                                                                      0.0
id                                                                       401840
original_language                                                            es
overview                      Two high school kids mentored by a nightclub o...
popularity                                                             0.207775
release_date                                                2017-05-30 00:00:00
revenue                                                                     0.0
runtime                                                                     0.0
status                                                                 Released
title                                                              School's out
vote_average                                                                0.0
vote_count                                                                  0.0
return                                                                      0.0
belongs_to_collection_name
genres_name                                                    [, , , , , , , ]
production_companies_name     [, , , , , , , , , , , , , , , , , , , , , , ,...
production_countries_name     [, , , , , , , , , , , , , , , , , , , , , , ,...
spoken_languages_name                    [, , , , , , , , , , , , , , , , , , ]
release_year                                                               2017
cast                                                                        NaN
director                                                                    NaN
Name: 42783, dtype: object

In [ ]:
df_movies_new.drop(index=42783, inplace=True)

## Reset index

In [ ]:
df_movies_new.reset_index(drop=True, inplace=True)

## Create a new `CSV` file

In [ ]:
df_movies_new.to_csv('ProcessedData/proc_movies.csv')